*.lof
*.lol
*.out
*.toc
*.lot
jmrrThesis.pdf
*.bbl
*.gz
Submitted/
Viva/preparation.pdf
Corrections/list_of_changes.pdf
*.glsdefs
*.glo
*.ist
20160503_JoseRivera_PhD_thesis.pdf
Corrections/post_viva_report_pre_submission.pdf
Corrections/post_viva_report_pre_submission
Corrections/Rivera_Rubio_list_of_changes.pdf
Rivera_Rubio_PhD_thesis.pdf
Corrections/post_viva_report_pre_submission*
